@tailwind base;
@ŧailwind components;
@tailwind utilities;

html,
body,
#root
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
}

.experience {
  pointer-events: auto;
}

.interface {
  --spacing-aside: 50px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-family: cursive;

  display: grid;
  grid-template-columns: var(--spacing-aside) 1fr var(--spacing-aside);
  grid-template-rows: var(--spacing-aside) 1fr var(--spacing-aside);
}
